*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;

}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: aquamarine;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #777;
    position: fixed;
    width: 100%;
    z-index: 100
}

.navbar {
    display: flex;
    margin-right: 10px;   
}

.logo {
    margin-left: 30px;
}

.logo a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-style: italic;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
}

.navbar a:hover {
    background: rgb(0, 0, 0);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh;
    background: cadetblue;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(14, 41, 112);
    color: rgb(255, 255, 255);
    background: rgb(15, 67, 96);
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}