* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(53, 7, 75);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #777;
    position: fixed;
    width: 100%;
    z-index: 100
}

.navbar {
  display: flex;
  margin-right: 40px;
}

.logo {
  margin-left: 40px;
}

.logo a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  font-style: italic;
}

.navbar a {
  display: block;
  padding: 20px 20px;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-size: 20px;
}

.navbar a:hover {
    background: rgb(0, 0, 0);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
    height: 60vh;
    background: cadetblue;
    background-size: cover;
}

.title {
  margin-bottom: 0px;
  font-size: 60px;
  font-weight: 600;
  text-transform: none;
  color: #fff;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 50px;
  margin-right: 50px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid rgb(14, 41, 112);
    color: rgb(255, 255, 255);
    background: rgb(15, 67, 96);
}

.btn:hover {
  background: none;
}

.btn-home {
  display: flex;
}

.btn-home a {
  margin: 0 10px;
}

.content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.sau {
    padding: 30px;
    background: #1f1d1d
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.box-container .box {
    height: 11rem;
    width: 17rem;
    background: #ffffff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(245, 237, 237, 0.5);
    margin: 2rem;   
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    font-size: 2rem;
    margin: 1rem 0;

}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;

}

.box-container .box p {
  padding: 0 15px;
  font-size: 16px;
}

.about {
    background: #171717;
}

.price {
  background: url(img/costos.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 0;
    font-size: 40px;
  }

  .sau {
    height: 100vh;
  }

  .navbar {
    display: none;
  }
}
